<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
        <title></title>
        <script src="__STATIC__/jquery.min.js" ></script>
    </head>
    <body>
        <div id="mydiv">按钮2121222111111111</div>
        <script>
            $(function () {
                $("#mydiv").mousedown(function () {
                    setTimeout(function () {
                        alert('你长按了');
                    }, 400);
                });
            })
        </script>
    </body>
</html>